In [1]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
# Add parent dir to path, so that python finds the lenskit package
sys.path.insert(0,parentdir)

In [2]:
from lenskit.metrics import dataGenerator
from lenskit import batch, topn, util, topnFair
from lenskit import crossfold as xf
from lenskit.algorithms import Recommender, als, funksvd, user_knn as uknn, item_knn as iknn 
from lenskit import topn, topnFair

In [3]:
import numpy as np
import pandas as pd

In [4]:
input_ranking=[x for x in range(10000)]
protected_group=[x for x in range(5000)]
unfair_ranking=dataGenerator.generateUnfairRanking(input_ranking,protected_group,0.2)

In [5]:
def hest(x):
    if x>=5000: 
        return 0
    else:
        return 1

In [6]:
unfair_rankingdf = pd.DataFrame(unfair_ranking, columns=["item"]) 
unfair_rankingdf
unfair_rankingdf["user"] = 1
unfair_rankingdf["Algorithm"] = 1
unfair_rankingdf["protected"] = unfair_rankingdf["item"].apply(hest)
unfair_rankingdf.index.names = ['rank']
unfair_rankingdf

#genre_stats['total_count_ratings'] = genre_stats['genres'].apply(app_total_count_ratings)

      item  user  Algorithm  protected
rank
0     5000     1          1          0
1        0     1          1          1
2        1     1          1          1
3     5001     1          1          0
4     5002     1          1          0
5     5003     1          1          0
6     5004     1          1          0
7     5005     1          1          0
8     5006     1          1          0
9        2     1          1          1
10    5007     1          1          0
11       3     1          1          1
12    5008     1          1          0
13       4     1          1          1
14    5009     1          1          0
15    5010     1          1          0
16    5011     1          1          0
17    5012     1          1          0
18    5013     1          1          0
19    5014     1          1          0
20       5     1          1          1
21    5015     1          1          0
22    5016     1          1          0
23    5017     1          1          0
24    5018     1          1          0
25    5019     1          1          0
26       6     1          1          1
27    5020     1          1          0
28       7     1          1          1
29    5021     1          1          0
...    ...   ...        ...        ...
9970  4970     1          1          1
9971  4971     1          1          1
9972  4972     1          1          1
9973  4973     1          1          1
9974  4974     1          1          1
9975  4975     1          1          1
9976  4976     1          1          1
9977  4977     1          1          1
9978  4978     1          1          1
9979  4979     1          1          1
9980  4980     1          1          1
9981  4981     1          1          1
9982  4982     1          1          1
9983  4983     1          1          1
9984  4984     1          1          1
9985  4985     1          1          1
9986  4986     1          1          1
9987  4987     1          1          1
9988  4988     1          1          1
9989  4989     1          1          1
9990  4990     1          1          1
9991  4991     1          1          1
9992  4992     1          1          1
9993  4993     1          1          1
9994  4994     1          1          1
9995  4995     1          1          1
9996  4996     1          1          1
9997  4997     1          1          1
9998  4998     1          1          1
9999  4999     1          1          1

[10000 rows x 4 columns]

In [7]:
def evaluate_genre(genre): 
    
    providers = ["protected"]
    proItems_genre_n =  unfair_rankingdf.loc[unfair_rankingdf[genre] == 1].item.nunique()
    print (genre)
    rla = topnFair.FairRecListAnalysis(['user', "Algorithm"])
    rla.add_metric("rND")
    rla.add_metric("rKL")
    rla.add_metric("rRD")
    rla.add_metric("APCR")
    rla.add_metric("nd_APCR")
    #rla.add_metric("equal_ex")
    rla.add_metric("ndcg")
    results= rla.compute(unfair_rankingdf, unfair_rankingdf, genre, providers)
    print("done" , genre)
    return results.groupby('Algorithm').mean()

In [8]:
testproviders = ["protected"]
#testproviders = list(all_recs_joined.iloc[:,8:])
allResults = []
for genre in testproviders:
    rep = evaluate_genre(genre)
    allResults.append(rep)

protected
done protected

In [9]:
output1 = pd.concat(allResults, keys=testproviders)
output1

                          rND       rKL       rRD  APCR  nd_APCR  ndcg
          Algorithm
protected 1          0.674279  0.340051  0.809139   1.0      1.0   1.0